html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout main {
  flex-grow: 1;
}

.login-form{
  position: absolute;
  background-color: rgba(0,0,0,0.05);
  height: 100%;
  width: 100%;
}

.home-mission{
  background-color: #2c5fc8;
}
